<h1>Welcome!</h1>

<form action="/login_user" method="post">
  Email:
    <input type="text" name="email">
  Password:
    <input type="text" name="password">
    <input type="submit">
</form>

<p>
  <a href="/register_user">Click here</a> to register.
</p>

