<h1>Welcome!</h1>

<form action="/login_user" method="post">
  Email:
    <input type="text" name="email"><br>
  Password:
    <input type="text" name="password"><br>
    <input type="submit">
</form>

<p>
  <a href="/register_user">Click here</a> to register.
</p>

