<h1>Welcome, username</h1>

<a href="/todos/list">Click here</a> to continue to the To-do list.<br>
<a href="/current_user">Click here</a> to view current user info.<br>
<a href="/form_to_edit_user">Click here</a> to edit current user info.<br>
<a href="/form_to_delete_user">Click here</a> to delete current user.