<h1>Log in below</h1>

<form action="/logins/create" method="post">
  Email:
    <input type="text" name="email"><br>
  Password:
    <input type="text" name="password"><br>
    <input type="submit">
</form>
