<h1>Current user</h1>

Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Password: <%= @user.password %><br>
<br>
<a href="/form_to_edit_user">Click here</a> to edit current user info.<br>
<a href="/form_to_delete_user">Click here</a> to delete current user.<br>
<a href="/logins/log_out">Click here</a> to log out