<h1>Registration</h1>

<form action="/register_user" method="post">
  Name:<br>
    <input type="text" name="name">
  Email:<br>
    <input type="text" name="email">
  Password:<br>
    <input type="text" name="password">
  <input type="submit">
</form>

<a href="/">Back</a>