<h1>You have successfully modified the entry for <%= @user.name %>.</h1>

It now reads:<br>
Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Password: <%= @user.password %><br>

<a href="/todos/list">Click here</a> to go back to the To-do list.<br>
<a href="/logins/log_out">Click here</a> to log out
