<h1>Are you sure you want to delete this?</h1>

<form action="/deleted" method="post">
  <input type="submit" value="Yes">
</form>

<form action="/todos/list" method="get">
  <input type="submit" value="No">
</form>