<h1>Edit To-do list items below.</h1>

  <form action="/todos/processed" method="post">
  Title:
    <input type="text" name="title"><br>
  Description:
    <input type="text" name="description"><br>
  Completed:
    <input type="checkbox" name="completed"><br>
  User:
    <input type="number" name="user_id" value="<%= session["user_id"] %>"><br>
    <input type="submit">
</form>