<h1>Enter new to-do items below.</h1>

<form action="/todos/create_item" method="post">
  Title:
    <input type="text" name="title"><br>
  Description:
    <input type="text" name="description"><br>
  Completed:
    <input type="checkbox" name="completed"><br>
  User:
    <input type="number" name="user_id" value="<%= session["user_id"] %>"><br>
    <input type="submit">
</form>

<a href="/todos/list">Back</a>