<h1>Edit category below</h1>

<form action="/categories/:id/update" method="post">
  Category:
    <input type="text" name="category">
    <input type="submit">
</form>

<a href="/todos/list">Back</a>