<h1>Create new category</h1>

<form action="/categories/create" method="post">
  Category:
    <input type="text" name="category">
    <input type="submit" name="Create">
</form>

<a href="/todos/list">Back</a>